* {
    margin: 0;
    padding: 0;
}

:root {
    --title-color: #F39C12;
    --header-color: #C0392B;
    --secondary-color: #4a90e2;
    --background-color: #F8F2E9;
    --text-color: #333;
    --font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10rem;
    background-color: var(--header-color);
}

body {
    background-color: var(--background-color);
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    color: var(--title-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--header-color);
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}